@import '../../style/colors.scss';

.logement-tags {
  display: flex;
  gap: 10px;
}

.logement-tag {
  width: auto;
  padding: 3px 30px;
  background: $primary;
  color: $secondary;
  font-size: 14px;
  font-weight: 500;
  line-height: 142.6%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 24px;
  @media screen and (max-width: 806px) {
    border-radius: 5px;
    font-size: 10px;
    line-height: 142.6%;
    padding: 2px 20px;
    margin-top: 10px;
    margin-bottom: 7px;
  }
}
