@import '../../style/colors.scss';

.a-propos-wrapper {
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 38px 100px;
  gap: 30px;
}

.illustration {
  width: calc(100%);
  height: 263px;
  border-radius: 25px;
  object-fit: cover;
  margin-bottom: 8px;
}
