@import '../../style/colors.scss';

.host-body {
  display: flex;
  align-items: center
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 10px;
}

.host-name {
  width: 78px;
  font-size: 18px;
  line-height: 26px;
  text-align: right;
  color: $primary;
  margin: 0px;
}
