@import '../../style/colors.scss';

.collapsible-wrapper {
  align-items: center;
  width: 100%;
}

.collapsible-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: $primary;
  color: $secondary;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  @media screen and (max-width: 806px) {
    height: 30px;
    font-size: 13px;
  }
}

.toggle {
  display: flex;
  justify-content: center;
  background-color: $background-light;
  width: 100%;
}

.valeurs {
  width: calc(100% - 30px);
  color: $primary;
  margin: 5px 0px;
  border-radius: 5px;
  @media screen and (max-width: 806px) {
    font-size: 12px;
  }
  &.content-close {
    margin: 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear;
  }
  &.content-open {
    max-height: 500px;
    transition: max-height 0.5s linear;
  }
}

.arrow-img {
  width: 32px;
  height: 32px;
  @media screen and (max-width: 806px) {
    width: 16px;
    height: 16px;
  }
}
