@import '../../style/colors.scss';

.img-carousel {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  margin-bottom: 30px;
  object-fit: cover;
  @media screen and (max-width: 806px) {
    height: 225px;
    margin-bottom: 15px;
  }
}

.btn-carousel {
  &__left {
    position: absolute;
    width: 80px;
    height: 80px;
    color: $secondary;
    top: 326.5px;
    transform: rotate(0deg);
    @media screen and (max-width: 806px) {
      top: 171px;
    }
  }
  &__right {
    position: absolute;
    width: 80px;
    height: 80px;
    color: $secondary;
    top: 311.5px;
    right: 100px;
    transform: rotate(180deg);
    @media screen and (max-width: 806px) {
      top: 156px;
      right: 20px;
    }
  }
}

.carousel-counter {
  color: #FFF;
  font-size: 18px;
  line-height: 142.6%;
  color: $secondary;
  position: absolute;
  left: 50%;
  top: 513px;
  @media screen and (max-width: 806px) {
    visibility: hidden;
  }
}
